body {
  margin: 0;
  padding: 0;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

* {
  margin: 0;
  padding: 0;
}

@media (min-width: 320px) and (max-width: 425px) {
  body {
    margin: 0;
    padding: 0;
    display: contents;
    flex-direction: unset;

  }
}